<ion-view hide-nav-bar="true" title="Activation">
  <ion-content class="padding" ng-controller="ActivateCtrl">
  <style>
	.ng-dirty.ng-invalid:not(form){
		background: rgba(255, 0, 0, 0.2);
	}
  </style>
  <h2>Activation</h2>
	<div ng-show="!tou">
		<span ng-show="error" class="item assertive">{{error}}</span>
		<form name="activateForm">
			<div>
				<label class="item item-input">
					<input required ng-model="firstname" placeholder="First Name" type="text" />
				</label>
			</div>
			<div>
				<label class="item item-input">
					<input required ng-model="lastname" placeholder="Last Name" type="text" />
				</label>
			</div>
			<div>
				<label class="item item-input">
					<input required ng-model="email" placeholder="Email" type="email" />
				</label>
			</div>
			<div>
				<label class="item item-input">
					<input required ng-model="operatorId" placeholder="Operator Id" type="number" />
				</label>
			</div>
			<div>
				<label class="item item-input">
					<input required ng-model="navaceUserName" placeholder="Navace User Name" type="text" />
				</label>
			</div>
			<div>
				<label class="item item-input">
					<input required ng-model="navacePassword" placeholder="Navace Password" type="password" />
				</label>
			</div>
			<div>
				<ul class="">
					<li class="item item-checkbox">
						<label class="checkbox">
							<input ng-model="autofill" type="checkbox" style="float: right;">
						</label>
						<span class="item-input">Auto Fill Username</span>
					</li>
				</ul>
			</div>
			<hr />
			<div class="row">
				<div class="col-50 padding">
					<button type="button" class="button button-block button-energized" ui-sref="splash">Cancel</button>
				</div>
				<div class="col-50 padding">
					<button type="submit" class="button button-block button-balanced" ng-disabled="!activateForm.$valid" ng-click="tou = true">Activate</button>
				</div>
			</div>
		</form>
	</div>
	<div ng-show="tou">
		<div ng-show="!isActivated">
			<span class="item item-text-wrap">I acknowledge that use of the NavCheck application does not reduce or remove my responsibility for ensuring plant or machines are safe to operate. Furthermore, I acknowledge that Navace Pty Ltd is not liable for any loss or damage directly associated with the use of the NavCheck application as an aid for completing pre-start checks of plant or machines.</span>
		</div>
		<hr />
		<div class="row">
			<div class="col-50 padding">
				<button type="button" class="button button-block button-energized" ui-sref="splash">Cancel</button>
			</div>
			<div class="col-50 padding">
				<button type="submit" class="button button-block button-balanced" ng-click="activate()">Activate</button>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>