<ion-view hide-nav-bar="true">
  <ion-content class="" ng-controller="SplashCtrl">
    <div class="row" style="position: absolute; right: 2px; top: 0;">
      <div class="col item-text-wrap" style="font-size: 10px; text-align: right">Version:
          <span style="font-size: 10px;font-weight: bold" ng-bind-html="version"></span><span ng-hide="true"> - Updated: {{ $root.updated }}</span>
      </div>
    </div>
	<div class="logo" adaptive hor="'col-50 col-offset-25'">
		<img src="img/navace.jpg" onclick="window.location.reload(true);" />
	</div>
      <br />
		<div ng-show="users.length > 0" class="row row-center">
			<div class="col">
                <label class="item item-input item-select" style="border-radius: 5px;" adaptive hor="'col-50 col-offset-25'">
                    <div class="input-label" style="padding: 7px 0;" ng-style="!user?{'text-align': 'center', 'width': '100%', 'margin': '0 auto'}:{'text-align': 'left'}">Login</div>
                    <select ng-model="user" ng-options="(r.id + ' - ' + r.label) for r in users"></select>
			     </label>
				<div ng-show="user.autofill == false">
                    <br />
                    <label class="item item-input" style="margin-bottom:3px;">
                        <input ng-model="credentials.username" placeholder="Username" type="text" />
                    </label>
                    <label class="item item-input">
                        <input ng-model="credentials.password" placeholder="Password" type="password" />
                    </label>
				</div>
                <br/>
                <div class="col-33 col-offset-33">
                    <button type="submit" class="button button-block button-energized" ng-show="user && !user.autofill" ng-click="loginCred(user.id, credentials.username, credentials.password)">Login</button>
                    <button type="submit" class="button button-block button-energized" ng-show="user.autofill" ng-click="login(user.id, user.hash)">Login</button>
                </div>
				<span class="assertive">{{error}}</span>
			</div>
		</div>
      <div style="text-align: center"  ng-show="users.length > 0"><hr />Or</div>
      <div ng-show="users.length == 0">
			<span class="item item-text-wrap">This app requires activation. Please contact your Supervisor or visit the Navace website (www.navace.com.au) if you do not know your account activation details.</span>
		</div>
        <hr />
		<div class="row">
			<div class="row col">
				<div class="col-33 col-offset-33">
					<button ui-sref="activate" class="button button-block button-energized margin" style="color: black;">Activate</button>
				</div>	
				<hr />

			</div>
		</div>
  </ion-content>
</ion-view>