<ion-view hide-nav-bar="true">
  <ion-content ng-controller="MenuCtrl">
    <div class="list splash-menu row row-center">
		<div class="col row-center">
			<div class="icon-logo row row-center" style="padding: 15px;">
				<div class="col">
					<div class="row row-center">
						<div class="col">
							<img src="img/icon.png"/><span>NavCheck</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-center">
				<div class="col">
					<div class="row" style="height: 50%;">
						<div class="padding" ng-if="$root.operator.TimesheetActivated" adaptive ver="'col-50'" hor="'col-33 col-offset-10'">
							<span>
								<h2>
								    <img src="img/icon_timesheet.png" class="col-50" />
								</h2>
								<div class="row">
									<div class="col">
										<button class="button button-block" ui-sref="timesheet.list">New / Current</button>
										<button class="button button-block black" ui-sref="timesheet-submitted.calendar">Submitted</button>
									</div>
								</div>
							</span>
						</div>
						<div class="padding" style="margin: 0 auto;"  adaptive ver="'col-50'" hor="'col-33 col-offset-10'">
							<h2>
								<img src="img/icon_checksheet.png" class="col-50" />
							</h2>
							<div class="row">
								<div class="col">
									<button class="button button-block" ui-sref="checksheet.site">Start New</button>
									<button class="button button-block black" ui-sref="previous-checksheet.summary">Previous</button>
								</div>
							</div>
						</div>
					</div>
					 <div class="row">
						<div class="padding" adaptive ver="'col-50'" hor="'col-33 col-offset-10'">
							<h2>
							<img src="img/icon_incident.png" class="col-50" />
							</h2>
							<div class="row">
								<div class="col">
									<button class="button button-block" ui-sref="report.site">Report Incident</button>
								</div>
							</div>
						</div>
						<div class="padding" style="margin: 0 auto;" adaptive ver="'col-50'" hor="'col-33 col-offset-10'">
							<h2>
							<img src="img/icon_profile.png" class="col-50" />
							</h2>
							<div class="row">
								<div class="col">
									<button class="button button-block" ui-sref="edit-profile">Edit Profile</button>
								</div>
							</div>
						</div>
					</div>
                    <div class="row">
                        <button class="col-50 col-offset-25 padding button-clear"  style="font-size: 18px;margin: 0 auto;" ng-click="signOut()">
                            <i class="icon ion-ios7-close-outline" />&nbsp;Sign Out
                        </button>
                    </div>
				</div>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>