<ion-view title="Edit Profile">
  <ion-content class="padding" ng-controller="ProfileCtrl">
  <h2 title="Edit profile"></h2>
	<div>
		<form name="editForm">
			<div>
				<label class="item item-input">
					<input required ng-model="user.firstname" placeholder="First Name" type="text" />
				</label>
			</div>
			<div>
				<label class="item item-input">
					<input required ng-model="user.lastname" placeholder="Last Name" type="text" />
				</label>
			</div>
			<div>
				<label class="item item-input">
					<input required ng-model="user.email" placeholder="Email" type="email" />
				</label>
			</div>
			<div>
				<ul class="">
					<li class="item item-checkbox">
						<label class="checkbox">
							<input ng-model="user.autofill" type="checkbox" style="float: right">
						</label>
						<span class="item-input">Auto Fill Username</span>
					</li>
				</ul>
			</div>
			<div>
				<label class="item item-input item-text-wrap">
					Profile details can only be changed using the Navace website.
				</label>
			</div>
				<hr />
			<div class="row">
				<div class="col-33 padding">
					<button class="button button-block button-energized" ui-sref="menu">Cancel</button>
				</div>
				<div class="col-33 padding">
					<button class="button button-block button-energized" ui-sref="splash" ng-click="destroy()">Delete</button>
				</div>
				<div class="col-33 padding">
					<button class="button button-block button-balanced" ng-disabled="!editForm.$valid || !editForm.$dirty" ng-click="save()">Done</button>
				</div>
			</div>
		</form>
	</div>
  </ion-content>
</ion-view>