		input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], textarea {
			display: block;
			padding-top: 2px;
			color: #111;
			font-size: 14px;
			line-height: 16px;
			background: transparent;
		}		
		.pane{
			background: #F2CB9B;
		}
		.logo{
			text-align: center;
		}
		.logo img{
			max-width: 100%;
			min-width: 100%;
		}
		.splash-menu .icon-logo{
			text-align: center;
			width:80%;	
			margin: 0 auto;

		}
		.splash-menu h2{
			text-align: center;
			font-size: 40px;
			font-weight: bold;

		}
		.splash-menu .icon-logo span{
			font-size: 160%;
			font-weight: bold;
			margin: 5px;
			vertical-align: middle;
		}
		.splash-menu .icon-logo img{
			border-radius: 15px;
			height: 75px;
			vertical-align: middle;
		}
		input.ng-invalid::-webkit-input-placeholder, textarea.ng-invalid::-webkit-input-placeholder{
			color: red;
			opacity: 0.6;
		}
		.mbsc-mobiscroll .dw-cal-event{
			white-space: normal;
			line-height: 18px;
			font-size: .9em;
			padding: 9px 60px 9px 15px;
			border-bottom: 1px solid white;
		}

		.item-radio.rates {
			border: 0;
			background: transparent;
		}
		.item-complex .item-content, .item-radio .item-content {
			position: relative;
			z-index: 2;
			padding: 5px 49px 5px 16px;
			border: none;
			background-color: #fff;
		}
		
		.item-radio .radio-icon {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 3;
			visibility: hidden;
			padding: 4px;
			height: 100%;
			font-size: 20px;
		}
		.list{
			overflow: hidden;
			border-radius: 10px;
		}
		.list .item{
			background-color: #F2921A;
			color: white;
		}
		.list .item .item-complex .item-content, .item-radio .item-content{
			background-color: #F2921A;
			color: white;
		}
		.list .item:first-child{
			border-top: 0;
		}

		.list .item:last-child{
			border-bottom: 0;
		}

		.input-label{
			color: #CC7B16;
		}
        .scroll-content {
            overflow: visible;
        }
		.item.item-select select {
			font-weight: bold;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			position: absolute;
			top: 0;
			right: 0;
			padding: 11px 30px 13px 0;
			max-width: 77%; 
			border: none;
			background: 0 0;
			color: black;
			text-indent: .01px;
			text-overflow: '';
			white-space: nowrap;
			cursor: pointer;
			direction: rtl;
		}
		.button.button-block, .button.button-full {
			margin-top: 0px !important;
			margin-bottom: 4px !important;
		}
		.button {
			border-color: transparent;
			background-color: #F2921A;
			color: white;
			position: relative;
			display: inline-block;
			margin: 0;
			padding: 0 16px;
			min-width: 52px;
			min-height: 40px;
			border-width: 0px;
			border-style: solid;
			border-radius: 6px;
			vertical-align: top;
			text-align: center;
			text-overflow: ellipsis;
			font-size: 15px;
			line-height: 42px;
			cursor: pointer;
			word-wrap: initial;
		}
		.dwwc .dw-i, .dwwc .dw-i span{

			font-size: 30px;
		}
		.orange{
			background-color: #F2921A;
		}
		.orange-text{
			color: #F2921A;
		}
		
		.dark-orange-text{
			color: #CC7B16;
		}
		.button.button-energized{
			background-color: #F2921A;
			color: black;
		}
		.button.button-balanced{
			background-color: #F2921A;
			color: white;
		}
		.button.black {
			color: black;
		}
		.button.white {
			color: white;
		}
		.button-clear.button-clear {
			border-color: transparent;
			background: 0 0;
			box-shadow: none;
			color: black;
		}
		.button.button-block, .button.button-full {
			margin-top: 2px;
			margin-bottom: 2px;
		}
		.row+.row {
			margin-top: -5px;
			padding-top: 3px; 
		}
		hr{
			border: 1px solid transparent;
		}
		.item-divider{
			
		}
		.row{
			padding: 0;
		}
		.col{
			padding: 0;
		}

		h2{
			color: black;
			font-size: 16px;
			font-weight: bold;
		}
		.splash-menu h2{
			margin: 0;
			color: black;
		}
		.splash-menu .button{
			border-radius: 6px;
			margin-top: 10px;
		}
		.splash-menu .row .row>.padding{
			padding: 10px;
		}
		.scroll{
			height: 100%;
		}
		.splash-menu .padding{
			
		}
		.padding{
			padding: 4px;
		}
		.item{
			padding: 3px 7px;
			color: black;
		}
		.item-checkbox {
			
		}
		.item-checkbox input{
		}
		.input-label{
			flex: 1 0 120px;
		}
        .dw-cal-event-dur{
            display: none;
        }
		.dwc{
			zoom: 0.6;
		}
		a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, input, label, select, textarea, .input-label, .item.item-select select, .item {
			font-size: 14px;
		}

		input[type=text], input[type=number], input[type=email], input[type=password]{
			padding: 0 6px;
		}
		
		.my-ng-valid{
			background: #F8E5CD !important;
		}
		.item-radio input:checked~.item-content {
			background: transparent;
		}
		.activated{
			-webkit-filter: blur(4px);
		}

.view-anim{
	transition': all 0.5s;
}
.view-anim.ng-enter {
  	-webkit-filter: blur(15px) grayscale(1);
}
.view-anim.ng-enter.ng-enter-active {
  	-webkit-filter: blur(0) grayscale(0);
}
.view-anim.ng-leave.ng-leave-active{
 	-webkit-filter: blur(0) grayscale(0);
}
.view-anim.ng-leave{
  	-webkit-filter: blur(15px) grayscale(1);
}


  [nav-view="entering"],
  [nav-view="leaving"] {
			transition': all 0.5s;
  }

  &[nav-view-direction="forward"],
  &[nav-view-direction="back"] {
    background-color: $ios-transition-container-bg-color;
  }

  [nav-view="active"],
  &[nav-view-direction="forward"] [nav-view="entering"],
  &[nav-view-direction="back"] [nav-view="leaving"] {
    z-index: $z-index-view-above;
  }

  &[nav-view-direction="back"] [nav-view="entering"],
  &[nav-view-direction="forward"] [nav-view="leaving"] {
    z-index: $z-index-view-below;
  }

@keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.blink {
    -webkit-animation: blink 0.9s linear infinite;
    -moz-animation: blink 0.9s linear infinite;
    animation: blink 0.9s linear infinite;
}