<div ng-controller="ReportCategorySelectionCtrl">
	<div class="" style="margin-bottom:5px;">
		<b class="dark-orange-text">Site</b> {{ report.site.SiteName }} | {{ report.site.SiteAddress }}
	</div>
	<b class="dark-orange-text">Machine </b> <machine-item machine="report.machine" class="" style="margin-bottom:5px;"></machine-item>
	<hr />
	<div>
	  <h2 class="title">Incident Category Selection</h2>
	</div>
	<form name="criticityForm" class="list">
		<label class="item item-radio" ng-repeat="p in $root.operator.IncidentReport" ng-click="select(p.Name)">
			<input type="radio" ng-model="report.criticity" required name="criticity" ng-value="p.Name">
			<div class="item-content">
				{{ p.Name }}
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
	</form>
	<hr/>
	<div class="row">
		<div class="col-33 col-offset-33">
			<button class="button button-energized button-block" ui-sref="report.machine">Back</button>
		</div>
	</div>
</div>