<div ng-controller="ReportMachineSelectionCtrl">
	<div class="" style="margin-bottom:5px;">
		<b class="dark-orange-text">Site</b> {{ report.site.SiteName }} | {{ report.site.SiteAddress }}
	</div>
	<hr />
	<div>
	  <h2 class="title">Machine Selection</h2>
	</div>

	<machine-selection site-machines="$root.operator.SiteMachines" all-machines="$root.operator.Machines" param="report" back="'report.site'" next="'report.category'"></machine-selection>
</div>