<div ng-controller="ReportReportCtrl">
		<div class="" style="margin-bottom:5px;">
			<b class="dark-orange-text">Site:</b> {{ report.site.SiteName }} | {{ report.site.SiteAddress }}
		</div>
		<b class="dark-orange-text">Machine </b> <machine-item machine="report.machine" class="" style="margin-bottom:5px;"></machine-item>
		<hr />
	<div>
	  <h2>Report</h2>
	</div>
	<form name="formReport" check>
		<label class="item item-input item-select">
			<div class="input-label">Category</div>
			<select ng-model="report.criticity" ng-options="p.Name as p.Name for p in $root.operator.IncidentReport" required></select>
		</label>
		<label class="item item-input item-select" ng-show="report.criticity" ng-show="report.criticity">
			<div class="input-label">Subcategory</div>
			<select ng-model="report.subcategory" required ng-options="p.Name as p.Name for p in ($root.operator.IncidentReport|filter:{Name: report.criticity})[0].SubCategories">
			</select>
		</label>
		<label class="item item-input item-select" ng-show="report.subcategory" ng-show="report.subcategory">
			<div class="input-label">Severity</div>
			<select ng-model="report.severity" required ng-options="p for p in ['Emergency', 'Breakdown', 'ASAP','Next Service','When Required']">
			</select>
		</label>
		<!--<label class="item item-input" ng-show="report.subcategory">
			<div class="input-label">Component<br /> Code</div>
			<div class="item-text-wrap">{{ (($root.operator.IncidentReport|filter:{Name: report.criticity})[0].SubCategories|filter:{Name: report.subcategory})[0].ComponentCode }}</div>
			</select>
		</label>-->

		<label class="item item-input" ng-show="report.severity">
			<textarea type="text" placeholder="Description of issue" required ng-model="report.description"></textarea>
		</label>
		<label class="item item-input" ng-show="report.severity">
			<textarea type="text" placeholder="Action taken" required ng-model="report.response"></textarea>
		</label>
		<div ng-show="report.severity">
			<ul class="" ng-init="report.serviceman=true">
				<li class="item item-checkbox">
					<label class="checkbox">
						<input ng-model="report.serviceman" type="checkbox" style="float:right">
					</label>
					<label class="item-input">Serviceman Required</label>
				</li>
			</ul>
		</div>
	
		<add-photo class="padding" item="report"></add-photo>
	</form>
	<div class="row">
		<div class="col-50 padding">
			<button class="button button-energized button-block" ui-sref="report.category">Back</button>
		</div>
		<div class="col-50 padding">
			<button class="button button-balanced button-block" ng-disabled="!formReport.$valid" ui-sref="report.submit">Next</button>
		</div>
	</div>
</div>