<div ng-controller="ReportSeveritySelectionCtrl">
	<div>
	  <h2 class="title">Contact Numbers</h2>
	</div>
	<form name="severityForm">
		<a href="tel:000" class="item item-icon-right">
			<i class="icon ion-android-call"></i>
			<h2>Emergency:</h2>
			<p>000</p>
		</a>
		<a ng-href="tel:{{user.Phone}}" class="item item-icon-right" ng-init="user = ($root.operator.Contacts|filter:{ContactId: report.site.SiteContactSafety})[0]">
			<i class="icon ion-android-call"></i>
			<h2>Safety Supervisor:</h2>
			<p>{{user.Firstname}} {{user.Lastname}} - {{user.Phone}}</p>
		</a>
		<a ng-href="tel:{{user.Phone}}" class="item item-icon-right" ng-init="user = ($root.operator.Contacts|filter:{ContactId: report.site.SiteContactEnvironment})[0]">
			<i class="icon ion-android-call"></i>
			<h2>Environmental Supervisor:</h2>
			<p>{{user.Firstname}} {{user.Lastname}} - {{user.Phone}}</p>
		</a>
		<a ng-href="tel:{{user.Phone}}" class="item item-icon-right" ng-init="user = ($root.operator.Contacts|filter:{ContactId: report.site.SiteContact})[0]">
			<i class="icon ion-android-call"></i>
			<h2>Site Supervisor:</h2>
			<p>{{user.Firstname}} {{user.Lastname}} - {{user.Phone}}</p>
		</a>
		<a ng-href="tel:{{report.site.SiteContactMobile}}" class="item item-icon-right">
			<i class="icon ion-android-call"></i>
			<h2>Owner:</h2>
			<p>{{report.site.SiteContactMobile}}</p>
		</a>
	</form>
	<br/>
	<button class="button button-energized button-block" ui-sref="report.category">Back</button>
</div>