<div ng-controller="ReportSiteSelectionCtrl">
	<div>
	  <h2 class="title">Site Selection</h2>
	</div>
	<site-selection sites="sites" param="report" default="true" back="'menu'" next="'report.machine'"></site-selection>
</div>