<div ng-controller="ReportSubmitCtrl" class="">
	<h2>Submission</h2>
	<div class="item">
		<b>Report Incident:</b>
		<br />		
		{{report.criticity}}
		<br />
		{{report.subcategory}}
	</div>
	<div class="item">
		Photo Count: {{ report.pics.length||0 }}
	</div>
	<hr />
	<div class="row">
		<div class="col-50 padding">
			<button class="button button-energized button-block" ui-sref="report.report">Back</button>
		</div>
		<div class="col-50 padding">
			<button class="button button-balanced button-block" ng-disabled="processing" ng-click="submit()">Submit</button>
		</div>
	</div>
	<div class="" ng-show="message"><h2>{{ message }}</h2></div>

</div>