<ion-view title="New Checksheet">
  <ion-content class="" style="padding:10px;" ng-controller="ChecksheetNewCtrl">
		<ion-nav-view animation="no-animation"></ion-nav-view>
  </ion-content>
</ion-view>