<div ng-controller="ChecksheetNewItemsCtrl">
	<form name="itemForm">
        <div ng-show="checksheet.items.length == 0">
            There is no items for this machine
            <input type="hidden" ng-model="nomodel" ng-required="checksheet.items.length == 0">
        </div>
		<div ng-if="checksheet.items.length > 0">	
			<div class="row dark-orange-text"><div class="col-75">Inspection Item </div><div class="col-25" style="text-align:right">{{$state.params.id}} of {{checksheet.items.length}}</div></div>
			<hr />
				<label class="item-text-wrap" ng-show="!newFault">
					<div style="height: 45px;"><b>{{item.Memo}}</b></div>
				</label>
				<br />
				<label class="item item-input" ng-show="newFault">
					<input type="text" placeholder="Description" ng-required="newFault" ng-model="item.Memo"></textarea>
				</label>
				<label class="item item-input item-select" ng-show="item.reported">
					<div class="input-label dark-orange-text">Status</div>
					<select ng-model="item.status" ng-options="r as p for (r, p) in item.reported" ng-disabled="newFault" ng-required="item.reported" ng-change="check()">
						<option value="">Not Set</option>
					</select>
				</label>
				<label class="item item-input item-select" ng-show="!item.reported && item.status">
					<div class="input-label dark-orange-text">Status</div>
					<select ng-model="item.status" ng-options="r as p for (r, p) in $root.status" ng-disabled="newFault" ng-required="!item.reported" ng-change="check()">
						<option value="">Not Set</option>
					</select>
				</label>
				<div class="list">
					<label class="item item-radio" ng-repeat="(r, p) in $root.status" ng-show="!item.reported && !item.status" ng-click="check()">
						<input type="radio" name="status" ng-model="item.status" ng-required="!item.reported" value="{{r}}" >
						<div class="item-content">
						  {{p}}
						</div>
						<i class="radio-icon ion-checkmark"></i>
					</label>
				</div>

				<label class="item item-input" full-block>
					<textarea placeholder="Describe here the problem found" ng-required="item.status >= 4 && item.status <= 6" ng-model="item.comments" style="height: 58px;"></textarea>
				</label>
                <label class="item-text-wrap" ng-show="item.jobs.length > 0">
					<div ng-repeat="j in item.jobs">
                        Job reported ({{$index+1}}): {{j.JobDescription}}
                    </div>
				</label>
				<hr />
				<add-photo ng-show="item.status >= 4 && item.status <= 6" item="item"></add-photo>

		</div>				
		<div class="row">
			<div class="col padding">
				<button class="button button-energized button-block">Back</button>
			</div>
			<div class="col padding">
				<button type="submit" class="button button-balanced button-block" ng-hide="item.status == 0" ng-disabled="!itemForm.$valid" ng-click="next()">Next</button>
			</div>
		</div>
	</form>
</div>
