<ion-modal-view ng-click="modal.hide()" class="pane list">
	<ion-header-bar>
      <h1 class="title">More information</h1>
    </ion-header-bar>
	<ion-content delegate-handle="modaljob" class="list">
		<div class="item item-text-wrap">
			Priority: {{ev.Priority}}
		</div>
		<div class="item item-text-wrap" >
			Scheduled Date: {{ev.ScheduleDate|date: 'dd/MM/yyyy'}}
		</div>
		<div class="item item-text-wrap" >
			Job description: {{ev.JobDescription}}
		</div>
		<div class="item item-text-wrap">
			Date Created: {{$root.moment(ev.InputDate, 'D/MM/YYYY hh:mm:ss A').format('DD/MM/YYYY')}}
		</div>
		<div class="item item-text-wrap" >
			Status: {{ev.Status}}
		</div>
	</ion-content>
</ion-modal-view>