<div ng-controller="ChecksheetNewScheduleCtrl">
  		<div class="" style="margin-bottom:5px;">
			<b class="dark-orange-text">Site</b> {{ checksheet.site.SiteName }} | {{ checksheet.site.SiteAddress }}
		</div>
		<b class="dark-orange-text">Machine </b> <machine-item machine="checksheet.machine" class="" style="margin-bottom:5px;margin-top:-5px;" ></machine-item>
	<hr />
	<div>
	  <h2 class="title">Schedule Maintenances</h2>
	</div>
	<div class="">		
		<div ng-if="checksheet.machine.ScheduleGroup==null" class="card">
			<div class="item item-text-wrap" >
				Scheduled servicing for this machine is not currently integrated with NavCheck. Please contact Navace if you would like information on the benefits of integrated maintenance.
			</div>
		</div>
		
		<div ng-if="checksheet.machine.ScheduleGroup != null && evs.length==0" class="card">
			<div class="item item-text-wrap">
				The next scheduled service for this machine cannot be determined. Please notify your Supervisor.
			</div>
		</div>
		
		<div ng-if="checksheet.machine.ScheduleGroup!=null" ng-repeat="ev in evs|orderBy: sortDate" ng-click="" ng-init="job = ($root.operator.ComponentCodes|filter: {ComponentId: ev.ComponentCode})[0]" >
			<div class="item item-content"  style="white-space: inherit;font-size: 90%;">
				
				<span ng-if="ev.ScheduleType == '1'" ng-init="due = -(checksheet.smu-ev.ScheduleSMU); unit = 'hrs'" ng-style="(due<0)?{color: 'red'}:''">
					<b>{{ job.Name }}: </b>
					<span>
						<span>
							<span ng-if="due>=0"><b>Due</b></span>
							<span ng-if="due<0"><b>Overdue</b></span>
							{{Math.abs(due)}} {{unit}}
						</span>
						<br />
						<span><b>Scheduled:</b> {{ev.ScheduleSMU}} {{unit}}</span>
					</span>
				</span>
				<span ng-if="ev.ScheduleType == '2'" ng-init="due = -(checksheet.smu-ev.ScheduleSMU); unit = 'Kms'" ng-style="(due<0)?{color: 'red'}:''">
					<b>{{ job.Name }}: </b>
					<span>
						<span>
							<span ng-if="due>=0"><b>Due</b></span>
							<span ng-if="due<0"><b>Overdue</b></span>
							{{Math.abs(due)}} {{unit}}
						</span>
						<br />
						<span><b>Scheduled:</b> {{ev.ScheduleSMU}} {{unit}}</span>
						</span>
					</span>
				</span>
				<span ng-if="ev.ScheduleType == '3'" ng-style="(ev.duration.asDays()>0)?'':{color: 'red'}">
					<b>{{ job.Name }}: </b>
					<span>
						<b ng-show="(ev.duration.asDays()>0)">Due</b><b ng-show="(ev.duration.asDays()<0)">Overdue</b> {{ ev.duration.humanize() }}<br />
						<span><b>Scheduled:</b> {{ ev.ScheduleDate |date: 'dd/MM/yyyy' }}</span>
					</span>
				</span>
			</div>
		</div>
	</div>
</div> 
<div ng-controller="ChecksheetNewJobsCtrl">
	<hr />
	<h2>Current Faults</h2>
	<div class="" >
		<div ng-if="outofservice">
			<div class="card">
				<div class="item item-text-wrap">
					This machine or attachment requires an urgent repair to be carried out. It is therefore considered unsuitable for use. By continuing to use this machine or attachment you acknowledge that you have been advised that it is out-of-service and you accept responsibility for any loss or damage that arises from its use in this condition.
					<br />
					Note: If the machine has been fitted with a Navace safety switch it will not be activated. Please notify your Supervisor.
				</div>
			</div>
			<div ng-show="outofservice">
				<div class="row">
					<div class="col padding">
						<button class="button button-energized button-block" ng-click="endCheck()">End Check</button>
					</div>
					<div class="col padding">
						<button class="button button-balanced button-block" ng-click="$parent.outofservice = false">Continue Check</button>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="checksheet.jobs.length==0" class="card">
			<div class="item item-text-wrap">
				There is no current faults logged for this machine.
			</div>
		</div>

		<div ng-repeat="job in joblst" ng-show="!outofservice" >
			<div class="item item-divider" ng-if="joblst[$index-1].Priority!=job.Priority">{{ job.Priority }}</div>

            <div class="item item-text-wrap" ng-click="info(job)">
				{{ job.JobDescription| limitTo: 50 }} 
			</div>
		</div>
		<hr />
		<div ng-show="!outofservice">
			<div class="row">
				<div class="col padding">
					<button class="button button-energized button-block" ui-sref="checksheet.smu">Back</button>
				</div>
				<div class="col padding">
					<button type="submit" class="button button-balanced button-block" ui-sref="checksheet.items.item({id: 1})">Next</button>
				</div>
			</div>
		</div>
	</div>
</div> 