<div ng-controller="ChecksheetNewMachineSelectionCtrl">
	<div class="" style="margin-bottom:5px;">
		<b class="dark-orange-text">Site</b> {{ checksheet.site.SiteName }} | {{ checksheet.site.SiteAddress }}
	</div>
	<hr />
	<div>
	  <h2 class="title">Machine Selection</h2>
	</div>
	<hr />
	<machine-selection site="checksheet.site" site-machines="$root.operator.SiteMachines" all-machines="$root.operator.Machines" param="checksheet" back="'checksheet.site'" next="'checksheet.smu'"></machine-selection>
</div>