<div ng-controller="ChecksheetNewOperatorDeclarationCtrl">
	<div class="" style="margin-bottom:5px;">
		<b class="dark-orange-text">Site</b> {{ checksheet.site.SiteName }} | {{ checksheet.site.SiteAddress }}
	</div>
	<hr />
	<div>
	  <h2 class="title">Operator Declaration</h2>
	</div>
	<hr />
	<div class="">
		<div class="item-text-wrap">
			<span>
				I have assessed myself as per the training provided as being fit for duty to perform the daily tasks set for me.
				I acknowledge that I have had the statutory rest breaks and I am not aware of any personal signs of fatigue.
				I acknowledge that I am not under the influence of alcohol, any illegal substances, medications or drugs that I have not formally disclosed to my employer. 
				As the worker, I accept all Company Policies presented to me and understand my personal obligations to the company and other workers during this shift.
			</span>
			<br />
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-33 padding">
			<button class="button button-energized button-block" ui-sref="checksheet.site">Back</button>
		</div>
		<div class="col-33 padding">
			<button class="button button-energized button-block" ng-click="disagree()">Disagree</button>
		</div>
		<div class="col-33 padding">
			<button class="button button-balanced button-block" ng-click="ok()">Agree</button>
		</div>
	</div>
</div>