<ion-modal-view ng-click="modal.hide()" class="pane list">
	<ion-header-bar>
      <h1 class="title">More information</h1>
    </ion-header-bar>
	<ion-content delegate-handle="modal" class="list">
			<div class="item item-content" ng-init="job = ($root.operator.Jobs|filter: {ComponentDescription: ev.ComponentCode})[0]" style="white-space: inherit;">
				<div ng-if="checksheet.machine.UnitMeasurement == '1'" >
					<span ng-init="due = (checksheet.machine.OwnershipSMU-ev.ScheduleSMU); unit = 'hours'"></span>
						<div class="item item-text-wrap" ng-style="(due<0)?'color: red;':''">
							<span ng-if="due>=0"><b>Due</b></span>
							<span ng-if="due<0"><b>Overdue</b></span>
							: {{due}} {{unit}}
						</div>
						<br />
						<div class="item item-text-wrap"><b>Scheduled:</b> {{ev.ScheduleSMU}} {{unit}} - {{ev.ScheduleDate|date:'dd/MM/yyyy'}}</div>
						<br />
						<div class="item item-text-wrap"><b>Description:</b> {{job.JobDescription }}</div>
				</div>
				<div ng-if="checksheet.machine.UnitMeasurement == '2'" ng-init="due = (checksheet.machine.OwnershipSMU-ev.ScheduleSMU)">
				<span ng-init="due = (checksheet.machine.OwnershipSMU-ev.ScheduleSMU); unit = 'kilometers'"></span>
					<div class="item item-text-wrap" ng-style="(due<0)?'color: red;':''">
						<span ng-if="due>=0"><b>Due</b></span>
						<span ng-if="due<0"><b>Overdue</b></span>
						: {{due}} {{unit}}
					</div>
					<br />
					<div class="item item-text-wrap"><b>Scheduled:</b> {{ev.ScheduleSMU}} {{unit}} - {{ev.ScheduleDate|date:'dd/MM/yyyy'}}</div>
					<br />
					<div class="item item-text-wrap"><b>Description:</b> {{job.JobDescription }}</div>	
				</div>
				</span>
				<div ng-if="checksheet.machine.UnitMeasurement == '3'" ng-init="duration = moment.duration(moment(ev.ScheduleDate) - moment(job.ScheduleDate))">
					<div class="item item-text-wrap" ng-style="(duration.asDays()>0)?'':'color: red'">
						{{ duration.humanize() }} - {{ev.ScheduleDate|date:'dd/MM/yyyy'}} <br />
						{{job.JobDescription }}						
					</div>
				</div>
			</div>
	</ion-content>
</ion-modal-view>