<div ng-controller="ChecksheetNewScheduleCtrl">
	<div>
	  <h2 class="title">Service Schedule</h2>
	</div>
	<div class="list">		
	
		<div ng-if="checksheet.machine.ScheduleGroup==null" class="card">
			<div class="item item-text-wrap" >
				Scheduled servicing for this machine is not currently integrated with NavCheck. Please contact Navace if you would like information on the benefits of integrated maintenance.
			</div>
		</div>
		
		<div ng-if="checksheet.machine.ScheduleGroup != null && evs.length==0" class="card">
			<div class="item item-text-wrap">
				The next scheduled service for this machine cannot be determined. Please notify your Supervisor.
			</div>
		</div>
		
		<div ng-if="checksheet.machine.ScheduleGroup!=null" ng-repeat="ev in evs|orderBy: sortDate" ng-click="" ng-init="job = ($root.operator.ComponentCodes|filter: {ComponentId: ev.ComponentCode})[0]">
			<div class="item item-content item-text-wrap"  style="white-space: inherit;">
				<div>
					<span ng-if="ev.ScheduleType == '1'" >
						<span ng-init="due = -(checksheet.smu-ev.ScheduleSMU); unit = 'hours'">
							<span ng-style="(due<0)?{color: 'red'}:''">
								<span ng-if="due>=0"><b>Due</b></span>
								<span ng-if="due<0"><b>Overdue</b></span>
								: {{due}} {{unit}}
							</span>
							<br />
							<span><b>Scheduled:</b> {{ev.ScheduleSMU}} {{unit}}</span>
							<br />
							<span><b>Description:</b> {{job.Name }}</span>
						</span>
					</span>
					<span ng-if="ev.ScheduleType == '2'" ng-init="due = (checksheet.smu-ev.ScheduleSMU)">
						<span ng-init="due = -(checksheet.smu-ev.ScheduleSMU); unit = 'kilometers'">
							<span ng-style="(due<0)?{color: 'red'}:''">
								<span ng-if="due>=0"><b>Due</b></span>
								<span ng-if="due<0"><b>Overdue</b></span>
								: {{due}} {{unit}}
							</span>
							<br />
							<span><b>Scheduled:</b> {{ev.ScheduleSMU}} {{unit}}</span>
							<br />
							<span><b>Description:</b> {{job.Name }}</span>	
							</span>
						</span>
					</span>
					<span ng-if="ev.ScheduleType == '3'">
						<span ng-style="(ev.duration.asDays()>0)?'':{color: 'red'}">
							<b ng-show="(ev.duration.asDays()>0)">Due:</b><b ng-show="(ev.duration.asDays()<0)">Overdue:</b> {{ ev.duration.humanize() }} - {{ev.ScheduleDate|date:'dd/MM/yyyy'}} <br />
							{{job.Name }}						
						</span>
					</span>
				</div>
			</div>
		</div>
	
		<button class="button button-energized button-block" ui-sref="checksheet.smu">Back</button>
		<button type="submit" class="button button-balanced button-block" ui-sref="checksheet.jobs">Next</button>
	</div>
</div> 