<div ng-controller="ChecksheetNewSiteSelectionCtrl">
	<div>
	  <h2 class="title">Site Selection</h2>
	</div>
	<site-selection sites="sites" param="checksheet" back="'menu'" next="'checksheet.operator'"></site-selection>
</div>