<div ng-controller="ChecksheetNewSmuEntryCtrl">
  		<div class="" style="margin-bottom:5px;">
			<b class="dark-orange-text">Site</b> {{ checksheet.site.SiteName }} | {{ checksheet.site.SiteAddress }}
		</div>
		<b class="dark-orange-text">Machine </b> <machine-item machine="checksheet.machine" class="" style="margin-bottom:5px;margin-top:-5px;" ></machine-item>
	<hr />
	<div>
	  <h2 class="title">SMU Entry</h2>
	</div>
	<div class="">
		<form name="smuForm">
			<ul class="">
				<li class="">  
					<label class="item item-input" full-block>
						<input type="number" required placeholder="Current SMU" ng-model="checksheet.smu">
					</label>

					<div class="" ng-if="checksheet.machine.UnitMeasurement == '1'" >Hour Meter Reading (whole hours)</div>
					<div class="" ng-if="checksheet.machine.UnitMeasurement == '2'" >Odometer Reading (whole kilometers)</div>
					<div class="" ng-if="checksheet.machine.UnitMeasurement == '3'" >SMU (Service Meter Units)</div>	
				</li>
			</ul>
			<hr />
			<div class="row">
				<div class="col padding">
					<button type="button" class="button button-energized button-block" ui-sref="checksheet.machine">Back</button>
				</div>
				<div class="col padding">
					<button type="submit" class="button button-balanced button-block" ng-disabled="!smuForm.$valid && !optional" ui-sref="checksheet.jobs">Next</button>
				</div>
			</div>
		</form>
	</div>
</div>