<div ng-controller="ChecksheetNewSubmissionCtrl" class="">
	<h2>Submission</h2>
	<div class="item">
		Checksheet Completed for: <br />
		<machine-item machine="checksheet.machine"></machine-item>
	</div>
	<div class="item">
		Photo Count: {{ photoCount }}
	</div>
	<hr />
	<div class="row">
		<div class="col-50 padding">
			<button class="button button-energized button-block" ui-sref="checksheet.items.item({id: checksheet.items.length})">Back</button>
		</div>
		<div class="col-50 padding">
			<button type="submit" class="button button-balanced button-block" ng-disabled="processing" ng-click="submit()">Submit</button>
		</div>
	</div>
	<div ng-show="message"><h2>{{ message }}</h2></div>
</div>