<div ng-controller="TimesheetListCtrl" class="">
	<div class="row">
		<div class="col-75"></div>
		<div class="col-25 padding">
			<button class="button button-balanced icon ion-plus" ui-sref="timesheet.entry" style="float:right"></button>
		</div>
	</div>
	<div ng-repeat="(date, tslst) in timesheets |orderBy: sortDate">
		<div class="item item-divider">{{date}}</div>
		<div ng-repeat="ts in tslst |orderBy: sortDate" class="item" ng-click="edit(ts)">
			<label class="item-text-wrap">
				<h2><b>{{ts.TS_Description}}</b></h2>
				<span>{{ts.TS_Start|date:'hh:mm a'}}</span> - <span ng-init="ts.TS_Finish==null?$parent.$parent.notEnded=true:'';">{{ts.TS_Finish|date:'hh:mm a'}}</span><span ng-show="!ts.TS_Finish">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<b>Duration:</b> <span ng-bind-html="duration(ts)"></span>
				<div>
					<span ng-show="ts.readonly">Activity: Prestart Check</span>
					<span ng-show="ts.TS_Activity">Activity: {{ts.TS_Activity}}</span>
					<span ng-show="!ts.TS_Activity && !ts.readonly">No activity</span>
					<span ng-if="ts.Checked" style="float:right;"><i class="radio-icon ion-checkmark"></i></span> 			
				</div>
			</label>
		</div>
	</div>
	<label ng-show="notEnded">You need to finish the last activity to be able to submit.</label>
	<hr />
	<div class="row">
		<div class="col padding">
			<button ui-sref="menu" class="button button-energized button-block">Menu</button>
		</div>
		<div class="col padding">
			<button ng-click="submit()" ng-disabled="notEnded || processing" ng-show="(timesheets|json).toString() != '{}'" class="button button-balanced button-block" >Submit</button>
		</div>
	</div>	
	<h2>{{message}}</h2>

</div>
  