<div ng-controller="TimesheetNewSiteSelectionCtrl">
	<div>
	  <h1 class="title">Site Selection</h1>
	</div>
	<site-selection sites="sites" param="timesheet" back="'list'" next="'timesheet.entry'"></site-selection>
</div>