<div ng-controller="TimesheetSubmittedCalendarCtrl">
	<input type="text" required id="calendar" />
	<div ng-repeat="ts in timesheets |orderBy: sortDate" class="item">
		<label class="item item-input">
			<span class="input-label">Start Time: {{ts.TS_Start|moment}}</span>
		</label>
		<label class="item item-input">
			<span class="input-label">End Time: {{ts.TS_Finish|moment}}</span>
		</label>
		<label class="item item-input" >
			<span class="input-label">Duration: </span><span ng-bind-html="duration(ts)"></span>
		</label>
		<ul class="item" onclick="return false;">
			<li class="item-checkbox">
				<label class="checkbox">
					<input  ng-model="ts.checked" type="checkbox">
				</label>
				Checked
			</li>
		</ul>
	</div>
</div>