<div ng-controller="TimesheetNewTimeEntryCtrl" id="new-entry">
	<div>
	  <h2 class="title">Time Entry</h2>
	</div>
	<form name="newTimesheetForm" check>
		<div class="time-entry">
			<label class="item item-input item-select">
				<div class="input-label">Tasks</div>
				<select ng-model="ts.TS_Task" ng-disabled="ts.readonly" ng-options="p.TaskDescription as p.TaskDescription for p in $root.operator.TimesheetTasks">
					<option value=""></option>
				</select>
			</label>
			<label class="item item-input item-select">
				<div class="input-label">Activity</div>
				<select ng-model="ts.TS_Activity" ng-disabled="ts.readonly" ng-options="p.ActivityName as p.ActivityName for p in $root.operator.TimesheetActivities|unique" required></select>
			</label>
			<label class="item item-input row" style="width:initial;">
				<div class="input-label col-25">Description: </div> 
				<input class="col-75" style="text-align:right; position: absolute;right: 0;top: 0px;padding-right:15px; font-weight: bold;" ng-readonly="ts.readonly" type="text" ng-model="ts.TS_Description">
			</label>
			<label class="item item-input row" ng-click="open('start')" style="width:initial;height:41px;">
				<div class="input-label col-25 padding">Start Time:</div>
				<div class="col-75" style="text-align:right;position: absolute;right: 0;top: 8px;padding-right:15px;"><b>{{ts.TS_Start.format('DD/MM/YYYY hh:mm a')}}</b></div>
				<input id="start" ng-model="hidestart" type="text" style="top:999999px;position:absolute;"/>
			</label>				
			<label class="item item-input row" ng-click="open('end')"style="width:initial;height:41px;">
					<div class="input-label col-25 padding">End Time: </div>
					<div class="col-75" style="text-align:right;position: absolute;right: 0;top: 8px; padding-right:15px;"><b>{{ts.TS_Finish.format('DD/MM/YYYY hh:mm a')}}</b></div>
					<input id="end" ng-model="hideend" type="text" style="top:999999px;position:absolute;"/> 
			</label>

			<label class="item item-input row" ng-class="duration()!=''?'my-ng-valid':''" style="width:initial;height:41px;">
				<div class="input-label col-25 padding">Duration: </div>
				<div class="col-75" style="position: absolute;right: 0;top: 5px;font-weight: bold; padding-right:15px;" ng-bind-html="duration()"></div>
			</label>
			<ul class="item" ng-init="ts.checked=true">
				<li class="item-checkbox padding">
					<label class="checkbox col-50 col-offset-50">
						<input ng-disabled="ts.readonly" ng-model="ts.Checked" type="checkbox" style="float:right;">
					</label>
					<span class="input-label">Checked</span>
				</li>
			</ul>
			<label class="item item-input my-ng-valid">
				<div class="input-label">Rates</div>
				 <label class="item item-radio rates" ng-repeat="r in rates track by r.name" style="display: inline-block;">
					<input ng-model="ts.TS_Rate" type="radio" name="rates" required value="{{r.name}}">
					<div class="item-content" style="background: transparent;color:black;">
					  {{r.name}}
					</div>
					<i class="radio-icon ion-checkmark"></i>
				  </label>
			</label>
			<label class="item item-input item-select">
				<div class="input-label">Machine</div>
				<select ng-model="ts.TS_Machine" ng-disabled="readonlyMachine || readonly" ng-options="((r.EngineMake?r.EngineMake+'-':'') + (r.Model?r.Model+'-':'') + (r.SerialNumber?r.SerialNumber:'')) for r in $root.operator.Machines track by r.MachineId">
					<option value="">Not Set</option>
				</select>
			</label>
			<label class="item item-input item-select">
				<div class="input-label">Location</div>
				<select ng-disabled="ts.readonly" ng-model="ts.TS_Site" ng-options="r.SiteName for r in $root.operator.MasterSites track by r.MasterSiteId" required></select>
			</label>
			<label class="item item-input item-select">
				<div class="input-label">Supervisors (*)</div>
				<label ng-show="($root.operator.TimesheetSupervisors|filter:fromSite).length == 0">No Supervisor</label><select ng-model="ts.TS_Supervisor" ng-options="(p.FirstName + ' ' + p.LastName) for p in ($root.operator.TimesheetSupervisors|filter:fromSite) track by p.SupervisorID" required ng-show="($root.operator.TimesheetSupervisors|filter:fromSite).length>0"></select>
			</label>
			<hr />
			<div class="row" ng-show="$state.params.id">
				<div class="col-50 padding">
					<button class="button button-energized button-block" ng-disabled="timesheets[index-1]==null" ng-click="previous()">Previous</button>
				</div>
				<div class="col-50 padding">
					<button class="button button-energized button-block" ng-disabled="timesheets[index+1]==null" ng-click="next()">Next</button>
				</div>
			</div>

			<div class="row">
				<div class="col-33 col-offset-33 padding">
					<button class="button button-balanced button-block" ng-click="done()" ng-disabled="!newTimesheetForm.$valid">Done</button>
				</div>
			</div>
			<b>{{message}}</b>
		</div>
	</form>
</div>