<span>
	<b style="" ng-show="filter">
		<span ng-show="((machine.PlantNo||'').split('**')|filter:filter).length>0">Plant#: {{ machine.PlantNo }} /</span>
		<span ng-show="((machine.RegistrationNumber||'').split('**')|filter:filter).length>0"> Rego#: {{  machine.RegistrationNumber }} /</span>
		<span ng-show="((machine.NavaceNo||'').split('**')|filter:filter).length>0"> Nav#: {{ machine.NavaceNo }}</span>
		<br />
	</b>
	
	<span style="">{{ machine.EngineMake }}-{{ machine.Model }}-{{ machine.SerialNumber }}</span>
</span>