<div ng-show="param.machine">
	<div class="">
		<machine-item machine="param.machine" filter="param.machineNumber"></machine-item>
	</div>
	<hr />
	<div class="row">
		<div class="col-33 padding">
			<button type="button" class="button button-energized button-block">Back</button>
		</div>
		<div class="col-33 padding">
			<button ng-click="param.machine = null; confirmation = false; change = true" class="button button-energized button-block">Change</button>
		</div>
		<div class="col-33 padding">
			<button type="submit" class="button button-balanced button-block" ng-model="button" ng-click="goNext()">Next</button>
		</div>
	</div>
</div>
<div ng-show="!param.machine">
	<div ng-show="!confirmation">
		<form name="machine">
			<label class="item-text-wrap">
				Please enter an identification number for the Machine. This can be the Registration Number, Plant Number or Navace Fuel Number.<br />
				Note: Partial identifiers can be used and all matching machines will be displayed.
			</label>
			<hr />
			<label class="item" full-block>
				<input type="text" ng-change="clearMachine()" required placeholder="Insert Number" ng-model="param.machineNumber">
			</label> 
			<hr />
			<div class="row">
				<div class="col-50 padding">
					<button type="button" class="button button-energized button-block" ng-show="change" no-override ng-click="reload()">Back</button>
					<button type="button" class="button button-energized button-block" ng-show="!change">Back</button>
				</div>
				<div class="col-50 padding">
					<button type="submit" class="button button-balanced button-block" ng-click="confirmation = true" ng-disabled="!machine.$valid">Next</button>
				</div>
			</div>
		</form>
	</div>
	<div ng-show="confirmation" class="">
		<form name="machineConfirmation">
			<div ng-show="(machines.onSite| filter: findMachine).length != 0">
				<div class="item item-divider" ng-show="(machines.offSite| filter: findMachine).length != 0">OnSite Machine</div>
				<div ng-repeat="machine in machines.onSite| unique| filter: findMachine" ng-click="select(machine)" class="item">
				 	<machine-item machine="machine" filter="param.machineNumber"></machine-item>
				</div>
			</div>
			<div  ng-show="(machines.offSite| filter: findMachine).length != 0">
				<div class="item item-divider">OffSite Machine</div>
				<a ng-repeat="machine in machines.offSite| unique| filter: findMachine" ng-click="select(machine)" class="item">
					<machine-item machine="machine" filter="param.machineNumber"></machine-item>
				</a>
			</div>
			<div class="item item-divider" ng-show="(machines.offSite| filter: findMachine).length == 0 && (machines.onSite| filter: findMachine).length == 0">No machine available</div>
			<hr />
			<div class="item-text-wrap padding">
				Please contact your Supervisor if the machine you require is not listed above.
			</div>
			<button type="button" class="button button-energized button-block" ng-click="param.machine = null;confirmation = false" no-override>Back</button>
			<!--<button type="submit" class="button button-balanced button-block" ng-model="button" ng-disabled="!machineConfirmation.$valid" ng-click="goNext()">Next</button>-->
		</form>
	</div>
</div>