<div class="">
	<div ng-show="param.site">
		<div class="padding">
			{{ param.site.SiteName }} | {{ param.site.SiteAddress }}
		</div>
		<hr />

		<div class="row">
			<div class="col-33 padding">
				<button class="button button-energized button-block">Back</button>
			</div>
			<div class="col-33 padding">
				<button ng-click="param.site = false; change = true;" class="button button-energized button-block">Change</button>
			</div>
			<div class="col-33 padding">
				<button class="button button-balanced button-block" ng-click="select(param.site)">Next</button>
			</div>
		</div>
		
	</div>
	<div ng-show="!param.site">
		<div ng-show="sites.length == 0">No active sites located. Please contact your Supervisor to ensure your site induction details are correct.</div>
		<div ng-repeat="site in sites track by $index">
		  <a class="item" ng-click="select(site)">
			{{ site.SiteName }}
			<br />
			{{ site.SiteAddress }}
		  </a>
		</div>
		<div ng-show="sites.length != 0" class="padding">Please contact your Supervisor if the site you are at is not listed above.</div>
		<hr />

		<button class="button button-energized button-block" ng-show="!change">Back</button>
		<button type="button" class="button button-energized button-block" ng-show="change" no-override ng-click="reload()">Back</button>

	</div>

</div>


