<div class="">
	<div ng-repeat="pic in item.pics track by $index" style="position:relative;float:left;" ng-style="{'width': (100/item.pics.length)+'%'}">				
		<button style="position:absolute;right:4px;top:4px;" class="button button-dark button-small ion-close-round" ng-click="deletePic($index)"></button>
		<img width="100%" ng-src="data:image/jpeg;base64,{{pic}}"/>
	</div>
</div>
<button class="button orange button-block icon ion-camera">&nbsp;Add Photo</button>
