<div ng-controller="ChecksheetPreviousChecksheetDetailsCtrl">
	<label class="item item-text-wrap">
		<label>{{item.index}} - Status: {{ $root.status[item.status] }}</label>
	</label>
	<label class="item item-input item-text-wrap">
		<label>{{item.Memo}}</label>
	</label>
	<label class="item item-input item-text-wrap" ng-show="item.comments">
		{{item.comments}}
	</label>
	<div>
		<div ng-repeat="j in jobs" ng-show="jobs.length > 0" class="item">
		{{j.JobDescription}} : {{$root.moment(j.InputDate, 'D/MM/YYYY hh:mm:ss A').format('DD/MM/YYYY')}}
		</div>
	</div>
	<div class="list">
		<div ng-repeat="pic in item.pics track by $index" style="position:relative;">				
			<img width="100%" ng-src="data:image/jpeg;base64,{{pic}}"/>
		</div>
	</div>
	<div class="row">
		<div class="col padding">
			<button class="button button-energized button-block" ui-sref="previous-checksheet.machine-checksheet">Back</button>
		</div>
	</div>
	<div class="row">
		<div class="col-50 padding">
			<button class="button button-energized button-block" ng-click="previous()">Previous</button>
		</div>
		<div class="col-50 padding">
			<button class="button button-balanced button-block" ng-click="next()">Next</button>
		</div>
	</div>
</div>