<div ng-controller="ChecksheetPreviousMachineChecksheetCtrl">
	<div class="item item-text-wrap" ng-repeat="j in cpc.chk.items" ng-click="openChecksheetDetails(j, $index+1)">
	{{ $index+1 }} - <b>{{ $root.status[j.status]?$root.status[j.status]:'Not Set' }}:</b> {{ j.Memo }}
	</div>	
	<hr />
	<div class="row">
		<div class="col-33 col-offset-33">
			<button class="button button-energized button-block " ui-sref="previous-checksheet.summary">Back</button>
		</div>
	</div>
</div>