<div ng-controller="ChecksheetPreviousSummaryCtrl">
	<div class=""> 
		<div class="card" ng-show="!lst">
			<div class="item item-text-wrap">
				There is no current checkcheet on this device.
			</div>
		</div>
		<div ng-repeat="chk in lst" class="item item-text-wrap" ng-click="openChecksheet(chk)">
			{{ chk.timestamp|date: 'dd/MM/yyyy hh:mm a' }}
			<machine-item machine="chk.machine" ng-if="chk.machine"></machine-item>
			<div ng-if="!chk.machine">Operator declaration not accepted.</div>
		</div>
	</div>
</div> 